@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&family=Voltaire&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Viaoda+Libre&family=Voltaire&family=Work+Sans:ital,wght@0,100..900; 1,100..900&display=intercambio');

/* 
    Normalize o Reset CSS
    Comienza con una sección de normalize o reset CSS para establecer un conjunto de
    estilos predeterminados para todos los elementos HTML. Esto ayuda a eliminar los estilos
    predeterminados del navegador y a establecer una base común para todos los elementos.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: #333;
    background-color: #f9f9f9;
}

a {
    color: inherit; /* Esto hará que el enlace tome el color del elemento padre */
}

/* 
    Variables y mixins
    Define variables y mixins que se utilizarán en todo el archivo. 
    Las variables pueden ser utilizadas para definir colores, tamaños de fuente,
    espaciados, entre otros. Los mixins son funciones que pueden ser utilizadas
    para aplicar estilos a elementos específicos.
*/

/* Variables */
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #333;
    --font-size-base: 16px;
    --line-height-base: 1.5;
    --translucido: rgba(110, 110, 110, 0.726);
    --gris_transulucido: rgba(128, 128, 128, 0.566);
}

/* Mixins */
.mixin-clearfix {
    &::after {
      content: "";
      display: table;
      clear: both;
    }
}

/*
    Estilos globales
    Define estilos globales que se aplicarán a todos los elementos HTML.
    Esto puede incluir estilos para el cuerpo, encabezados, párrafos, enlaces, etc.
*/

body {
    font-family: Arial, sans-serif;
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--primary-color);
    align-items: center;
    min-height: 100vh;
}

body.home_page{
    background-image: url("../assets/imagenes/fondo\ INICIO.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

body.historia_refugio{
    background-image: url("../assets/imagenes/fondo\ Quienes_Somos.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

body.gradiente{
    background-image: url("../assets/imagenes/FONDO\ GRADIENTE.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
  
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: var(--primary-color);
}

p {
    color: var(--primary-color);
    margin-bottom: 10px;
}

a.redes_sociales {
    color: var(--primary-color);
}

textarea, input{
    border-radius: 10px;
    outline: none;
}

/*
    Componentes
    Define estilos para componentes específicos que se utilizan en el sitio web.
*/

/* Botón */
button[type="submit"], button[type="reset"], button[type="button"],button[type="menu"]{
    background-color: rgb(61, 58, 63);
    color: white;
    border-radius: 30px;
    margin-top: 2%;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    flex: 1;
    max-width: 150px; /* Ancho máximo del botón */
}



/* Formularios */
form {
    margin-top: 1%;
    align-items: start;
    text-align: start;
    padding: 1%;
    h1 {
        text-align: center;
    }
    h4 {
        text-align: start;
    }
    label {
        text-align: start;
    }
    
}

.enlinea2 {
    display: flex;
    padding: 2%;
    justify-content: space-between;
}

.formulario_busqueda{
    background-color: #333;
    color: white;
    height: 100vw;
    width: 15%; /* Ancho del menú */
    padding: 1%;
    box-sizing: border-box;
    position: fixed; /* Mantener el menú fijo al desplazarse */
    left: 0%;
}

.busqueda_lateral {
    text-align: start;
    flex-direction: column;

    h4 {
        font-weight: bold;
        font-size: 100%;
    }
}

.buscador {
    margin: 4%;
    input {
        width: 100%;
        padding: 2%;
        margin-bottom: 2%;
    }
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 5%; /* Espacio entre cada checkbox-item */
    padding: 3%;
    margin: 0%;
}

.resultado_mascotas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /*REVISAR--------------------------------------------------------------------------------*/
    justify-content: center; /* Centrar los elementos en el espacio disponible */
    margin-left: 25%; /* Espacio para el menú fijo */
    margin-top: 2%;
}

.resultado {
    background-color: #4a4a4a78;
    border-radius: 3%;
    box-shadow: 0 0 3% rgba(0, 0, 0, 0.1);
    width: calc(45% - 5%);; /* Ancho de cada resultado (50% del contenedor menos el espacio entre columnas) */
    box-sizing: border-box;
    text-align: center; /* Centrar el texto */
}

.resultado img {
    width: 100%;
    height: auto;
    border-radius: 3%;
}

.resultado p {
    margin-top: 2%;
    font-size: 100%;
    color: black;
    font-family: 'Inter';
}

.flex-container {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.enlinea {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    color: violet;
}
    
label {
    display: block;
    margin-bottom: 0%;
    margin-top: 0%;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="date"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 0%;
    margin-bottom: 1%;
    border: 1px solid #ccc;
}

.titulo_inicio_descripcion{

    h1 {
        color: white;
        text-align: center;
        font-size: 6em;
        line-height: 1.0;
        margin: 0;
        font-family: 'Vioda Libre';
        font-weight: 1;
    }

    p {
        color: white;
        text-align: center;
        font-family: 'Work Sans';
        padding-right: 10%;
        padding-left: 10%;
        font-size: 1.2em;
    }
}

.container_busqueda_rapida{
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0%;

}

.container_translucido{
    background-color: var(--translucido);
    padding: 1%;
    margin: 2% auto;
    margin-top: 5%;
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

.img_usuario_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
}

.container_datos {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 1%;

    strong, p {
        color: var(--secondary-color);
    }
}

.card_novedad {
    display: flex;
    background-color: var(--translucido);
    padding-right: 5px;
    margin: 2% 1%;
    border-radius: 10px;

    img {
        width: 400px;
        height: auto;
        margin-right: 10px;
    }
}

.card_novedad_contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-size: 2em;
        margin: 0;
    }

    p {
        font-size: 1.1em;
        margin: 0;
    }
}

.card_busqueda_mascota_rapida {
    padding: 10px 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 10px;
    font-family: 'Voltaire';
    font-weight: bold;
    font-size: 1.3em;
    background-color: var(--gris_transulucido);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    width: 150px;
    height: 200px;
}

.estrellas_decoracion {
    text-align: center;
}

.redes_sociales_container {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.redes_sociales {
    display: flex;
    justify-content: center;
    align-items: center;

    a{
        color: white;
        font-family: 'Voltaire';
        font-weight: 1;
        padding-left: 10%;
    }
}

.contactos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px 0;
    font-family: 'Voltaire';
    font-weight: bold;
}

.iconos {
    max-width: 100%;
    max-height: 100%;
}

.novedades h1{
    color: white;
    text-align: center;
    font-size: 3em;
    line-height: 1.0;
    margin: 0;
    font-weight: 1;
}

.preguntas_frecuentes{
    align-items: start;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 2%;

    h4 {
        font-size: 1.3em;
        font-weight: bold;
        color: var(--secondary-color);
    }
}

.contenido {
    margin: 1em;
    min-height: 77.6vh;
    padding: 1em;
}

.footer {
    padding-top: 1%;
}

/*
    Layout
    Define estilos para el diseño del sitio web, como la estructura de la página,
*/

/* Menu de Navegacion */
.menu_navegacion {
    background-color: #262626;
    overflow: hidden;
    width: 100vw;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 1000; 
    margin-bottom: 5%;
    position: fixed; /* Mantener el menú fijo al desplazarse */

    a {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 20px;
    margin: 0;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-family: 'Work Sans';
    font-weight: bold;
    font-size: 1em;

    }
    /* Cambiar de color cuando coloco el click por encima */
    a:hover{
        background-color: #424242;
        color: white;
    }

    /* Cambiar color cuando este activo */
    a.active {
        background-color: #424242;
        color: white;
    }
}


/* Cambiar de color cuando coloco el click encima */

.card_busqueda_mascota_rapida:hover {
    background-color: rgba(128, 128, 128, 0.8);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

textarea:active, button:active, textarea:focus-visible, button:focus-visible, input:hover, input:focus-visible {
    
}

.button:hover {
    background-color: var(--primary-color);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}


/*
    Media Queries
    Define estilos específicos para diferentes tamaños de pantalla utilizando media queries.
*/

@media (max-width: 768px) {
    /* Estilos para dispositivos móviles */
    
    nav {
      flex-direction: column;
      width: 100%;
    }
    .container_translucido{
        max-width: 100%;
    }
    .container_busqueda_rapida{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card_busqueda_mascota_rapida{
        width: 40%;
    }
    h1 {
        font-size: 5em;
    }
    p {
        font-size: 1em;
    }
    .container_translucido {
        h1 {
            font-size: 1em;
        }
    }
    .enlinea2 {
        flex-direction: column;
        align-items: center;
    }

    .formulario_busqueda {
        width: 100%; /* El menú ocupa todo el ancho de la pantalla */
        height: auto; /* Ajustar la altura al contenido */
        position: relative;
        left: 0;
        padding: 5%;
        margin-bottom: 5%; /* Espacio inferior para separar el menú del contenido */
    }

    .resultado_mascotas {
        margin-left: 0; /* Eliminar margen izquierdo */
        margin-top: 0;
        justify-content: center;
    }

    .resultado {
        width: 100%; /* Cada resultado ocupa todo el ancho del contenedor */
        margin-bottom: 5%; /* Espacio inferior entre los resultados */
    }

    .busqueda_lateral h4, .buscador, .checkbox {
        margin: 0;
        padding: 2%;
    }

    .checkbox {
        gap: 2%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para tablets */
    .container_busqueda_rapida{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card_busqueda_mascota_rapida{
        width: 40%;
    }
    h1 {
        font-size: 5em;
    }
    p {
        font-size: 1em;
        color: #000;
    }
    .container_translucido {
        h1 {
            font-size: 1.3em;
        }
    }
}

@media (min-width: 1025px) {
    /* Estilos para desktop */
    header {
      height: 100px;
    }
}