@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&family=Voltaire&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Viaoda+Libre&family=Voltaire&family=Work+Sans:ital,wght@0,100..900; 1,100..900&display=intercambio');

body.fondo_Intranet {
    /*FONDO DE LAS PAGINAS DE INTRANET*/
    background-image: url("../assets/imagenes/fondo_intranet.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

 a {
    text-decoration: none;
}

button[type="submit"],
button[type="reset"],
button[type="button"],
button[type="menu"] {
    background-color: rgb(61, 58, 63);
    color: white;
    border-radius: 30px;
    margin-top: 2%;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 1% 3%;
    flex: 1;
    display: flex;
    flex-direction: row;

    a {
        text-decoration: none;
        color: var(--primary-color);
        font-family: 'Inter';
        font-weight: bolder;
        text-align: center;
        font-size: 1.2em;
    }
}

/* Variables */
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #424242;
    --gris-translucido: rgba(128, 128, 128, 0.566);
}

/* Mixins */
.mixin-clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}


.ruta-navegacion {
    /*RUTA DE NAVEGACION*/
    background-color: var(--secondary-color);
    overflow: hidden;
    width: 100vw;
    margin-left: 0vw;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-bottom: 5%;
    position: fixed;
    /* Mantener el menú fijo al desplazarse */

    h3 {
        color: var(--primary-color);
        text-align: start;
        margin-left: 2%;
    }
}

.en_linea {
    display: flex;
    padding: 2%;
}

.navegacion_intranet {
    background-color: var(--secondary-color);
    position: fixed;
    width: 15%;
    height: 100vh;
    left: 0;
    top: 0;
}

.contenedor-navegacion {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 95%;
    text-align: center;
}

.card-icono {
    background-color: var(--secondary-color);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    /* Ajustado para usar unidades más flexibles */
    margin-top: 4%;
    width: 60%;
    /* Ajustado para ser más flexible dentro del contenedor */
    height: auto;
    /* Cambiado para adaptarse al contenido */
    text-align: center;
}

.card-icono img {
    width: 30%;
    height: auto;
}

.card-icono p,
.card-icono a {
    color: black;
    margin: 5px 0;
    /* Ajustado para menos margen */
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    /* Ajustado para ser relativo */
    font-family: 'Voltaire';
}

.card-icono:hover,
.card-icono:active,
.card-icono:focus {
    background-color: var(--primary-color);
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.5);
}


.container-contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-top: 10%;

}

.contenedor-agregar-foto {
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    padding: 5% 10%;
    margin-right: 10%;
    box-sizing: border-box;
    width: 20vw;
    height: 29vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--primary-color);
}

.contenedor-nueva-publicacion {
    background-color: var(--gris-translucido);
    padding: 2% 5%;
    border-radius: 10px;
    margin: 0%;
    width: 100%;
    height: 70%;
}

.container-tranlucido {
    background-color: var(--gris-translucido);
    padding: 2%;
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: var(--primary-color);

    .textarea {
        margin: 2%;
        width: 95%;
        height: 100%;
    }

}



.consulta {
    display: flex;
    justify-content: space-between;
    /* Alinear elementos al final (derecha) */
    align-items: center;
    background-color: var(--gris-translucido);
    margin: 1% 0;
    border-radius: 20px;
    padding: 1%;
    width: 100%;

    a {
        margin-right: 2%;
        /* Asegura espacio a la derecha del enlace */
        margin-left: 2%;
    }

    h4 {
        font-family: 'Inter';
        font-size: 2em;
        color: var(--primary-color);
    }
}

.container-consultas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80%;
    margin-top: 8%;
    margin-left: 8%;

    h4 {
        font-size: 2em;
        margin-bottom: 2%;
        margin-top: 2%;
        margin-left: 2%;
    }

    p {
        font-size: 1.1em;
        margin-bottom: 2%;
        margin-left: 2%;
        color: var(--primary-color);
    }
}

.container-mascotas {
    display: flex;
    justify-content: start;
    background-color: var(--gris-translucido);
    border-radius: 20px;
    width: 70vw;
    margin: 1% 0;




    h4 {
        font-family: 'Inter';
        font-weight: bolder;
        font-size: 1.5em;
        color: var(--primary-color);
        text-align: start;
    }

    p {
        font-family: 'Inter';
        font-weight: bolder;
        font-size: 1.2em;
        color: var(--primary-color);
        text-align: start;
        margin-top: -4%;
    }


    img {
        border-radius: 20px;
        height: 9.5em;
        width: auto;
    }
}

.fila {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.columna {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
}


.input-datos {
    background-color: var(--secondary-color);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    padding: 0.8em 2em;
    margin: 2% 0;
    color: white;
    box-sizing: border-box;

    input {
        margin-left: 2%;
        border: none;
        background: none;
        text-decoration: none;
        box-shadow: none;
        color: white;
        width: 20vw;
        font-size: 1em;
        font-family: 'Inter';
        font-weight: bolder;
    }

    textarea {
        border: none;
        background: none;
        cursor: auto;
        resize: none;
        font-size: 1em;
        font-family: 'Inter';
        font-weight: bolder;
        width: 43vw;
    }

    textarea:active,
    textarea:focus,
    textarea::placeholder {
        outline: none;
        color: white;
    }

    input:active,
    input:focus,
    input::placeholder {
        outline: none;
        color: white;
    }
}

.buscador-usuarios {
    background-color: var(--gris-translucido);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    padding: 1em 1.4em;
    width: 68vw;
    margin-left: 20vw;

    input {
        margin-left: 2%;
        border: none;
        background: none;
        text-decoration: none;
        box-shadow: none;
        color: var(--primary-color);
        width: 100%;
        font-size: 1.2em;
    }

    input:active,
    input:focus {
        outline: none;
    }
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 15vw;
    background-color: var(--secondary-color);
    padding: 1em;
}


.nav-item {
    background-color: var(--secondary-color);
    padding: 8% 0%;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: background-color 0.3s;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    width: 80%;
    height: auto;
    text-decoration: none;
}

.nav-item:hover {
    background-color: var(--primary-color);
}

.nav-item.active {
    background-color: var(--primary-color);
}

.nav-item p {
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    font-family: 'Voltaire';
    color: black;
    font-weight: bold;
    display: block;
}


button[type="submit"],
button[type="reset"],
button[type="button"],
button[type="menu"] {
    background-color: rgb(61, 58, 63);
    color: var(--primary-color);
    border-radius: 30px;
    margin-top: 2%;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    flex: 1;
    max-width: 150px;
    /* Ancho máximo del botón */
}

/* Media Queries para adaptabilidad */
@media (max-width: 768px) {
    .navegacion_intranet {
        width: 25%;
        top: 6%;
    }

    .ruta-navegacion {
        width: 100vw;
        margin-left: 0;
    }

    .card-icono img {
        width: 60%;
    }

    .card-icono p,
    .card-icono a {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .navegacion_intranet {
        top: 6%;
    }

    .contenedor-navegacion {
        margin-top: 5%;
    }
}


 /* */
 .navigation {
	font-weight: 300;
	font-size: 0.9375rem;
	max-width: 90vw;
	min-width: 70vw;
	margin: 0 auto;
	color: var(--primary-color);
}

.accordion,
.sub-accordion {
	margin: 0;
	padding: 0;
	list-style: none;
    li {
        font-size: 1.09em;
        font-family: 'Inter';
        font-weight: bolder;
    }
}
.accordion__item {
	background: var(--gris-translucido);
	border-radius: 20px;
	margin-bottom: 5px;
    text-decoration: none;

    a {
        font-size: 1.3em;
    }
}



.accordion__link_active {
    color: var(--primary-color);
    background: var(--secondary-color);
}


.accordion__link {
	font-weight: 500;
	font-size: 1rem;
	position: relative;
	color: var(--primary-color);
	text-decoration: none;
	border-radius: 20px;
	display: block;
	padding: 2%;
    background-color: var(--secondary-color);
}

.accordion__link:not(.accordion__link_active):after {
    position: absolute;
    content: "";
    border-top: 12px white solid;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    right: 22px;
    top: 50%;
    transform: translatey(-6px);
}
.accordion__link:not(.accordion__link_active):hover {
    opacity: .8;
    color: white;
}
.accordion__link:not(.accordion__link_active):hover:after {
	border-top: 12px white solid;
}

.sub-accordion {
	padding: 5px 20px;
    display: none;
    height: 0;
    overflow: hidden;
}

.accordion__link_active {
    color: var(--primary-color);
    background: var(--secondary-color); 
}

.accordion__link_active:after {
	position: absolute;
	content: "";
	border-bottom: 12px #fff solid;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	right: 22px;
	top: 50%;
	transform: translatey(-6px);
}
.accordion__link_active + ul{
    display: block;
    height: 100%;
}