@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&family=Voltaire&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Viaoda+Libre&family=Voltaire&family=Work+Sans:ital,wght@0,100..900; 1,100..900&display=intercambio');

body.fondo_Intranet { /*FONDO DE LAS PAGINAS DE INTRANET*/
    background-image: url("../assets/imagenes/fondo_intranet.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

/* Variables */
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #424242;
    --gris-translucido: #303030;
}

/* Mixins */
.mixin-clearfix {
    &::after {
      content: "";
      display: table;
      clear: both;
    }
}

.ruta-navegacion { /*RUTA DE NAVEGACION*/
    background-color: var(--secondary-color);
    overflow: hidden;
    width: 85vw;
    margin-left: 15%;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1000; 
    margin-bottom: 5%;
    position: fixed; /* Mantener el menú fijo al desplazarse */

    h3 {
        color: var(--primary-color);
        text-align: start;
        margin-left: 2%;
    }
}

.en_linea {
    display: flex;
    padding: 2%;
}

.navegacion_intranet {
    background-color: var(--secondary-color);
    position: fixed;
    width: 15%;
    height: 100vh;
    left: 0;
    top: 0;
}

.contenedor-navegacion {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 95%;
    text-align: center;
}

.card-icono {
    background-color: var(--secondary-color);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px; /* Ajustado para usar unidades más flexibles */
    margin-top: 4%;
    width: 60%; /* Ajustado para ser más flexible dentro del contenedor */
    height: auto; /* Cambiado para adaptarse al contenido */
    text-align: center;
}

.card-icono img {
    width: 30%;
    height: auto; 
}

.card-icono p, .card-icono a {
    color: black;
    margin: 5px 0; /* Ajustado para menos margen */
    text-decoration: none;
    text-align: center;
    font-size: 1em; /* Ajustado para ser relativo */
    font-family: 'Voltaire';
}

.card-icono:hover, .card-icono:active, .card-icono:focus{
    background-color: var(--primary-color);
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.5);
}


.container-contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-top: 10%;

}

.container-tranlucido{
    background-color: var(--gris-translucido);
    padding: 1%;
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: var(--primary-color);
    
    textarea {
        margin: 2%;
        width: 95%;
        height: 100%;
    }

    a {
        text-decoration: none;
        color: var(--primary-color);
    }
}


.consulta {
    display: flex;
    justify-content: space-between; /* Alinear elementos al final (derecha) */
    align-items: center;
    background-color: var(--gris-translucido);
    margin: 1% 0;
    border-radius: 20px;
    padding: 1%;
    width: 100%;

    a {
        margin-right: 2%; /* Asegura espacio a la derecha del enlace */
        margin-left: 2%;
    }
    
    h4 {
        font-family: 'Inter';
        font-size: 2em;
        color: var(--primary-color);
    }
}

.container-consultas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 80%;
    margin-left: 16%;
    margin-top: 5%;
    
    h4 {
        font-size: 2em;
        margin-bottom: 2%;
        margin-top: 2%;
        margin-left: 2%;
    }

    p {
        font-size: 1.1em;
        margin-bottom: 2%;
        margin-left: 2%;
        color: var(--primary-color);
    }
}

.contenido-principal{
    margin-left: 25%;
    margin-top: 2%;
}

.card-body.bg-custom {
    border-radius: 10px; /* Ajusta este valor según el radio de esquina deseado */
    border: none; /* Elimina el borde */
}

.card-body{
    
    a {
        text-decoration: none;
        text-align: center;
        font-family: 'Voltaire';
        color: black;
    }
}

.nav.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    height: 100%; /* Ocupa todo el alto disponible */
}

.nav.flex-column > li {
    width: 100%; /* Asegura que cada <li> ocupe todo el ancho del <ul> */
    display: flex; /* Habilita Flexbox para los elementos <li> */
    justify-content: center; /* Centra los elementos internos de <li> horizontalmente */
}

.bg-custom {
    background-color: var(--secondary-color);
}

.accordion-item {
    background-color: transparent;
}


button[type="submit"], button[type="reset"], button[type="button"],button[type="menu"]{
    background-color: rgb(61, 58, 63);
    color: var(--primary-color);
    border-radius: 30px;
    margin-top: 2%;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    flex: 1;
    max-width: 150px; /* Ancho máximo del botón */
}

/* Media Queries para adaptabilidad */
@media (max-width: 768px) {
    .navegacion_intranet {
        width: 25%;
        top: 6%;
    }

    .ruta-navegacion {
        width: 100vw;
        margin-left: 0; 
    }

    .card-icono img {
        width: 60%; 
    }

    .card-icono p, .card-icono a {
        font-size: 0.9em; 
    }
}

@media (max-width: 480px) {
    .navegacion_intranet {
        top: 6%; 
    }

    .contenedor-navegacion {
        margin-top: 5%; 
    }
}